*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}
:root{
    --bg-primary-color:#0c0c0c;
    --text-primary-color:#fff; 
    --bg-food-color:#fa1414;

    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;

    --border-primary-color:#817777;
    --fill-color:#fff;
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius:16px;
    --border-radius-lg:24px;
    --border-radius-xl:32px;
}
html{
    background-color: var(--bg-primary-color);
    color:var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main,section{
    height: 100%;
    width:100%;
}
section{
    padding: var(--space-xl);
    display: flex;
    flex-direction: column; 
    gap:20px;
}

section .infos{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.board{
    border: 1px solid var(--border-primary-color);
     flex-grow: 1;  
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
   grid-template-rows: repeat(auto-fill,minmax(30px,1fr));


}
.info{
    padding:var(--space-md) var(--space-md);
    border:1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);

}
.block{
    /* width:30px;
    height: 30px; */
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}
.fill{
    background-color: var(--fill-color);
}
.food{
    background-color: var(--bg-food-color);
}
.modal{
    height:100vh;
    width:100vw;
    position: fixed;
    top:0;
     background: rgba(238, 19, 19, 0.1); /* thoda transparent */
    backdrop-filter: blur(5px); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .start-game,
.modal .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:var(--space-md)
}
.btn{
    padding:var(--space-md) var(--space-lg);
    border:none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}
.modal .game-over{
    display:none;
}